@import "../../common/styles/variable";
.standardListForm {
  :global {
    .ant-form-item {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 32px;
        padding-top: 4px;
      }
    }
  }
}
.capital{
  :global{
    .ant-card{
      border-radius: 3px;
    }
  }
  .withdraw{
    border: 1px solid white;
    border-radius: 3px;
    padding: 2px 5px;
    float: right;
    cursor: pointer;
    &:hover{
      background: rgba(255,255,255,0.15);
    }
  }
}

.chartTitle{
  font-size: 15px;
  line-height: 22px;
  color:#00DA8A;
  font-weight: 500;
}
.chartTotal {
  height: 38px;
  margin: 20px 0 22px;
  overflow: hidden;
  font-size: 25px;
  line-height: 38px;
  white-space: nowrap;
  padding: 0;
  display: inline-block;
  text-overflow: ellipsis;
  word-break: break-all;
}
.chartSum{
  background: linear-gradient(315deg, #81E3AE 0%, #54D693 100%);
  color:white;
  .chartTitle{
    color:white
  }
}
.chartIncome{
  background: linear-gradient(135deg, #3469FF 0%, #4B7AFF 100%);
  color:white;
  .chartTitle{
    color:white
  }
}
.card {
  margin-bottom: 24px;
}

.result {
  max-width: 560px;
  margin: 0 auto;
  padding: 24px 0 8px;
}
.header{
  background: #F2F3F3;
  padding: 35px;
  display: flex;
  .left{
    width: 60px;
  }
  .right{
    flex:1;
    .title{
      color:@themeColor;
      font-weight: bold;
    }
  }

}
.info{
  text-align: center;
  position: relative;
  padding: 35px 0 15px;
  margin: 0;
  .avatar{
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,-50%);
  }

}
.form{
  margin: 0 30px;
  text-align: center;
  .formTitle{
    font-weight: bold;
    background: #f5f7f7;
    line-height: 45px;
  }
  .formBody{
    line-height: 45px;
    border-top:1px solid #eeeded;
    border-bottom: 1px solid #eeeded;
  }
  .formBottom{
    border-bottom: 1px solid #eeeded;
    line-height: 45px;
    margin-bottom: 20px;
    :global{
      .ant-col{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5px;
      }
      .ant-form-item{
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
      }
    }
  }
}
